/*
  *= require_self
  *= require bootstrap
  *= require bootstrap-theme
*/

.div-color {
  background-color:  #DBDBC9;
  border-radius: 20px;
}
body {
    background-image: url("maxresdefault.jpg");
}
